* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  /* background-color: #eef3ff; */
  background-color: #ffffff;
}

h2,
h1,
h3,
p {
  color: #161c2d;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    margin: 0 2em;
  }
}

.hidden {
  display: none;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/***********/
/* NavBar */
/*********/

.nav-bar {
  z-index: 10000;
  /* background-color: #fefaf3; */
  background-color: #f8fafc;
  position: sticky;
  top: 0;
  padding: 1em 0;
  transition: ease-in 0.2s;
}

.nav-bar.active {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-bar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  text-decoration: none;
  color: #04091e;
}

.nav-icon-heading-container {
  display: flex;
  align-items: center;
}

.paint-icon {
  font-size: 1.5rem;
  margin-right: 0.25em;
}

.nav-bar h2 {
  font-size: 2rem;
  margin: 0;
}

.nav-bar h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  background-color: #fb7878;
  justify-self: center;
  margin-top: -26px;
  margin-left: 7px;
}

.nav-ul-big-screens {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-bar ul li a {
  text-decoration: none;
  color: black;
}

.nav-bar ul li a:hover {
  color: #fb7878;
  font-weight: 500;
}

.nav-bar ul li:not(:last-child) {
  margin-right: 2em;
}

.burger-menu {
  display: none;
  font-size: 2rem;
  position: absolute;
  right: 1em;
  top: 0.65em;
  cursor: pointer;
}

.burger-menu:hover {
  color: #fb7878;
}

.off-screen-menu {
  display: none;
}

@media (max-width: 700px) {
  .nav-ul-big-screens {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .nav-bar ul li:not(:last-child) {
    margin-right: 0;
  }

  .off-screen-menu {
    margin-top: 0;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 4em;
    position: absolute;
    /* background-color: #fefaf3; */
    background-color: #f8fafc;
    width: 100%;
    height: 100vh;
    top: 0;
  }

  .off-screen-menu li {
    list-style: none;
  }

  .off-screen-menu li a {
    font-size: 2rem;
    font-weight: 500;
    transition: ease-in-out 0.1s;
  }

  .off-screen-menu li a:hover {
    color: #fb7878;
  }
}

/***********/
/* Footer */
/*********/

footer {
  margin-top: auto;
  text-align: center;
  padding: 2em;
  background-color: #04091e;
}

footer h3 {
  font-weight: 400;
  color: #6a6c75;
}

/*****************/
/* Hero Section */
/***************/

header {
  /* background-color: #fefaf3; */
  background-color: #f8fafc;
  min-height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  margin: auto 0;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6em 0 4em 0;
}

.hero__text {
  order: 2;
  letter-spacing: 1px;
  /* line-height: 25px; */
  text-align: center;
}

.hero__text p {
  line-height: 25px;
}

.hero__text .heading {
  margin-top: 0;
  color: #04091e;
  font-size: 3rem;
  margin-bottom: 0;
}

.hero__subheading {
  font-size: 2rem;
  background: linear-gradient(to right, #fb7878 0%, #ffaf74 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero__small__heading,
.projects__small__heading {
  color: #fb7878;
  font-size: 1.75rem;
  margin: 0;
}

@media (max-width: 499px) {
  .btn-primary {
    margin-bottom: 1em;
  }
}

@media (max-width: 450px) {
  .hero__text .heading {
    line-height: 40px;
  }
}

/* .hero__text h3 {
  font-size: 1.5rem;
  color: #6a6c75;
} */

.hero__text .text {
  color: #535353;
  font-size: 1.125rem;
  margin-bottom: 4em;
}

.btn {
  display: inline-block;
  font-size: 1.35rem;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid black;
  padding: 0.5em 1em;
  border-radius: 4px;
}

.btn-primary {
  color: #fb7878;
  background-color: #161c2d;
  /* color: #000000;
  background: linear-gradient(to right, #c278fb, #f973ff); */
  margin-right: 1em;
  transition: ease-in-out 0.2s;
}

.btn-primary:hover {
  background-color: #ffffff;
  color: #04091e;

  transform: translateY(4px);
}

.btn-outline {
  color: #04091e;
  transition: ease-in-out 0.2s;
}

.btn-outline:hover {
  background-color: #ffffff;
  color: #04091e;
  transform: translateY(4px);
}

.person__image {
  width: 300px;
}

/**********************************/
/*HERO SECTION RESPONSIVE STYLES */
/********************************/

@media (min-width: 500px) {
  .person__image {
    width: 400px;
  }
}

@media (min-width: 950px) {
  .hero .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .hero__image {
    order: 2;
    width: 36%;
  }

  .person__image {
    width: 100%;
  }

  .hero__text {
    width: 60%;
    order: 1;
    text-align: left;
  }
}

#skills,
#about,
#projects,
#contact,
#services,
#call-to-action,
#reviews {
  padding: 6em 0;
}

/******************************/
/* Skills Section Styles *****/
/****************************/

#skills {
  background-color: #fff;
}

.skills__small__heading {
  font-size: 1.75rem;
  margin: 0;
}

.skills .container h2 {
  font-size: 2.75rem;
  margin: 0;
}

/* #skills p {
  margin-bottom: 4em;
} */

.skills__card__container {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
}

.skills__card {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  text-align: center; */
  gap: 1.5em;
  padding: 2em;
  background-color: #f5f5f5;
  border-radius: 6px;
  transition: ease-in-out 0.15s;
  box-shadow: 2px 2px 5px #fb7878;
  /* box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2); */
}

.skills__card__icon__circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 2.5em; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.15s;
}

.skills__card__icon {
  color: #161c2d;
  font-size: 1.75rem;
  transition: ease-in-out 0.15s;
}

.skills__card:hover {
  background-color: #fff;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}

.skills__card:hover .skills__card__icon__circle {
  background-color: #080808;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.skills__card:hover .skills__card__icon {
  color: #fb7878;
}

.skills__card__title {
  color: #161c2d;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 0;
}

.skills__card__description {
  /* color: #6a6c75; */
  /* opacity: 0.9; */
  color: #535353;
  line-height: 22px;
  letter-spacing: 0.5px;
  margin: 0;
}

/***************************/
/*SERVICES SECTION STYLES */
/*************************/

#services {
  background-color: #eef3ff;
}

.services {
  text-align: center;
}

.services__container {
  max-width: 800px;
  margin: 0 auto;
}

.services__heading {
  margin-top: 0;
  font-size: 2.75rem;
}

.services__line {
  border-bottom: 4px solid #fb7878;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 2.5em;
}

.services__section {
  background-color: #ffffff;
  padding: 2em;
  border-radius: 4px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.services__arrow {
  font-size: 3rem;
  margin: 0.5em 0;
  color: #535353;
}

/* .services__section:not(:last-child) {
  margin-bottom: 1.5em;
} */

.services__section__heading {
  margin-top: 0;
  font-size: 1.75rem;
  color: #161c2d;
}

.services__icon {
  width: 100px;
}

.services__section__text {
  font-size: 1.125rem;
  color: #535353;
  letter-spacing: 1px;
  line-height: 25px;
}

.btn-book-call-services {
  margin-left: auto;
  margin-right: auto;
}

/*********************************/
/*CALL TO ACTION SECTION STYLES */
/*******************************/
#call-to-action {
  background-color: #ffffff;
  text-align: center;
}

/******************************/
/* About Section Styles  *****/
/****************************/

.about {
  background-color: #eef3ff;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__small__heading,
.skills__small__heading {
  font-size: 1.75rem;
  margin: 0;
  color: #fb7878;
}

.about-title {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 2.75rem;
}

.about-text {
  color: #525252;
  letter-spacing: 0.75px;
  line-height: 25px;
  font-size: 1rem;
}

.about-btns {
  margin-top: 3em;
}

.about-flex-item-text {
  width: 60%;
}

.about-img {
  width: 35%;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media (max-width: 850px) {
  .about-container {
    flex-direction: column;
  }

  .about-flex-item-text {
    order: 1;
    width: 100%;
  }

  .about-img {
    margin-bottom: 2em;
    width: 100%;
    max-width: 400px;
  }
}

/*********************/
/* Projects Section */
/*******************/

.project-card-link {
  text-decoration: none;
  color: #04091e;
}

#projects {
  background-color: #ffffff;
}

.projects-heading-container {
  text-align: center;
}

.projects-title {
  margin-bottom: 1.5em;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
}

.project-card {
  cursor: pointer;
  /* background-color: #fefaf3; */
  background-color: #f8fafc;
  padding: 2em;
  border-radius: 6px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  transition: 0.04s ease-in-out;
}

.project-card:hover {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
}

.project-img {
  width: 100%;
  height: 375px;
  object-fit: cover;
  border-radius: 2px;
}

.project-sub-heading {
  color: #6a6c75;
  margin-bottom: 0.5em;
}

.project-title {
  margin: 0;
  font-size: 1.75rem;
}

/***********************/
/*PROJECT PAGE STYLES */
/*********************/

.project-page {
  padding: 3em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 75vh;
  /* width: 100%; */
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.project-video-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-gallery {
  width: 100%;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  height: 650px !important;
  object-fit: cover !important;
  padding-top: 0 !important;
}

@media (min-width: 1200px) {
  .project-page {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .image-gallery-content .image-gallery-slide .image-gallery-image {
    height: 500px !important;
  }
}

@media (max-width: 550px) {
  .image-gallery-content .image-gallery-slide .image-gallery-image {
    height: 350px !important;
  }
}

/***************************/
/*SERVICES SECTION STYLES */
/*************************/

/* .reviews__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
} */

.reviews__heading {
  margin: 1em auto;
  margin-top: 0;
  font-size: 2.75rem;
  border-bottom: 4px solid #f5b30e;
  width: fit-content;
  padding-bottom: 0.5em;
}

.review-card {
  background-color: #ffffff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  margin: 1em 0;
  /* padding: 2em; */
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.review-card__container__img {
  background-color: #ffe9d9;
  width: 100%;
  padding: 2em 0;
}

.review-card__container__text {
  padding: 2em;
}

.review-card__img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  object-fit: cover;
}

.review-card__name {
  margin-top: 0;
  font-weight: 500;
  font-size: 1.25rem;
}

.review-card__review {
  color: #535353;
  letter-spacing: 0.5px;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-prev:before,
.slick-next:before {
  color: #838383;
}

/**************************/
/*CONTACT SECTION STYLES */
/************************/

.contact {
  /* background-color: #fefaf3; */
  background-color: #f8fafc;
}

.contact__heading {
  font-size: 1.75rem;
  margin: 0;
  color: #fb7878;
}

.contact__subheading {
  margin-top: 0;
  font-size: 2.75rem;
}

.contact__details {
  display: flex;
  justify-content: space-between;
}

.contact__details__key {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.contact__details__value {
  color: #525252;
  font-size: 1.25rem;
}

.btn-book-call {
  display: block;
  width: fit-content;
  margin-top: 1.5em;
  border: solid black;
  text-decoration: none;
  font-weight: 500;
  color: #fb7878;
  background-color: #04091e;
  border-radius: 4px;
  font-size: 1.35rem;
  padding: 0.5em 1em;
  transition: ease-in-out 0.2s;
}

.btn-book-call:hover {
  background-color: #ffffff;
  color: #04091e;

  transform: translateY(4px);
}

@media (max-width: 700px) {
  .contact {
    text-align: center;
  }

  .contact__details {
    flex-direction: column;
    align-items: center;
  }

  .btn-book-call-contact {
    margin-left: auto;
    margin-right: auto;
  }
}
